<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EagleFetchIt{% endblock %}</title>
    <link href="{{ url_for('static', path='/css/output.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen bg-base-200">
    {% include 'components/navbar.html' %}
    <main class="container mx-auto px-4 py-8">
        {% block content %}{% endblock %}
    </main>
    {% include 'components/footer.html' %}
    <div id="toast-container" class="toast toast-top toast-end"></div>

    <!-- You can open the modal using ID.showModal() method -->
    <dialog id="modal" class="modal">
        <div id="modal-box" class="modal-box">
            <div class="modal-content" id="modal-content"></div>
            <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
        </div>
    </dialog>
    
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
