<footer class="footer footer-center p-10 bg-base-100 text-base-content mt-16">
    <div>
        <p class="font-bold">
            EagleFetchIt
            <br/>
            Fast, Free, No Watermarks
        </p> 
        <p>Copyright &copy; 2026 - All rights reserved</p>
        <p>Made with ❤️ from Ghana by TheEagle - Benson</p>
    </div> 
    <div>
        <div class="grid grid-flow-col gap-4">
            <a href="/about" class="link link-hover">About</a> 
            <a href="#" class="link link-hover">Privacy Policy</a> 
            <a href="#" class="link link-hover">Terms of Service</a>
        </div>
    </div>
</footer>
